.card-container {
  width: fit-content;
  background-color: #FFFFFF;
  width: 450px;
  box-shadow: 0px 5px 5px 0px #DBCEF6;
}
.card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 1px #C9B5F2 solid;
}
.card-title {
  margin: 0;
  padding: 0 10px;
  height: 48px;
  text-align: justify;
  font-weight: 700;
}
.card-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: default;
}
.card-info-author {
  color: #888888;
}
.card-info-date {
  color: #1D193C;
}